@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.container {
  font-family: Poppins;
}
.hero {
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  background: #3f3697;
  color: #fff;
}
.intro h1 {
  font-size: 120px;
  line-height: 120px;
  margin: 0;
}
.backgrounds {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile {
  position: relative;
  height: 300px;
  width: 300px;
  background-image: url(/basith.jpg);
  background-size: cover;
  background-position-x: -40px;
  border-radius: 150px;;
}
.clip {
  height: 400px;
  width: 400px;
  border-radius: 200px;
  border: 2px dashed #777;
  margin: auto;
  opacity: 0;
  transition: 200ms all linear;
  transform: scale(.8);
}
.clipContainer {
  animation: counter-rotate 50s infinite;
  position: absolute;
  top: -50px;
  left: -50px;
}
.profile:hover .clip {
  opacity: 1;
  transform: scale(1);
}
.icons {
  position: absolute;
  left: -150px;
  top: -150px;
  height: 600px;
  width: 600px;
  margin: auto;
  animation: rotate 90s infinite linear;
}
.iconsContainer {
  opacity: 0;
  transform: scale(.8);
  transition: 200ms all;
  pointer-events: none;
  animation: 200ms flower;
}
@keyframes flower {
  from { opacity: 0; transform: scale(.8); }
  to   { opacity: 1; transform: scale(1); }
}
.profile:hover .iconsContainer {
  opacity: 1;
  transform: scale(1);
}
.icons svg {
  position: absolute;
  width: 100px;
  animation: counter-rotate 90s infinite linear;
}
@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
@keyframes counter-rotate {
  from { transform: rotate(360deg) }
  to { transform: rotate(0deg) }
}
.reveal {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}